*:focus {
  outline: none;
}

.form-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 250px;
  height: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

select[name="favoriteColor"] {
  height: auto;
}

.checkbox-label {
  display: inline-block;
  margin-right: 10px;
}

.checkbox-group {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

#radio {
  display: flex;
  margin-right: 220px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  height: 34px !important;
}

.submit-button {
  flex: 1;
  width: 120px;
  margin-right: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.reset-button {
  flex: 1;
  width: 120px;
  margin-left: 5px;
  background-color: #d9d6d5;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: #c33a2b;
}

.employed {
  margin-right: 130px;
}

.checkboxes {
  margin-right: 167px;
  align-items: start;
}

.stooges {
  display: block;
  align-items: start;
}

#color {
  gap: auto;
}

#color select {
  width: 270px;
}

button:disabled:hover {
  background-color: initial;
  color: initial;
  cursor: not-allowed;
}

.datalist {
  margin-top: 30px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  font-size: 11px;
  background-color: rgb(201, 200, 200);
}
.datalist p {
  margin-bottom: 0;
  margin-top: 0;
}

.invalid-field {
  border: 1px solid #c81400 !important;
}
